/* Bootstrap overrides */

creator-profile-top-card .badge-secondary {
    background-color: #f5f5f5;
}

bs-dropdown-container .dropdown-menu {
    min-width: 12rem !important;
}

/* Vendor overrides */

.tribute-container {
    filter: drop-shadow(0 0 0.25rem #dddddd);
    margin-top: 0.75rem;
}

.tribute-container ul {
    padding: 0 !important;
    background: white !important;
    border-radius: 14px !important;
    min-width: 220px !important;
}

.tribute-container li {
    padding: 12px 36px 12px 12px;
    font-size: 15px;
}

.tribute-container li:not(:last-child) {
    border-bottom: 1px solid #eeeeee !important;
}

.tribute-container li.highlight {
    background: #f8f8f8 !important;
}

.tribute-container li:first-child.highlight {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.tribute-container li:last-child.highlight {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.tribute-avatar {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

/* Project  */

#plus-add-new-post {
    border-radius: 24px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 1rem 0 2.5rem;
}